<% include ../_layout/header.html %>

    <div id="app">
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Daftar Pola Pesan
                    </h1>
                </div>
            </div>
        </section>
            
        <div class="columns is-centered">
            <div class="column is-narrow">
                <table class="table is-hoverable">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Isi</th>
                            <th>Opsi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(template, index) of templates" :key="index">
                            <td>{{ template.judul }}</td>
                            <td>{{ template.teks }}</td>
                            <td>
                                <button class="button is-text" @click="editTemplate(template.id)" title="Ubah">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="button is-text has-text-danger" href="#" @click="deleteTemplate(template.id)" title="Hapus">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button @click="toggleForm" class="button is-primary">
                            <span class="icon is-small"> <i class="fas fa-plus"></i> </span>
                            <span> Tambah Pola Pesan </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" :class="{ 'is-active': open }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ headerModal }} Pola Pesan</p>
                    <button class="delete" aria-label="close" @click="toggleForm"></button>
                </header>
                <section class="modal-card-body">
                    <form>
                        <div class="field">
                            <label class="label">Judul:</label>
                            <div class="control">
                                <input class="input" type="text" name="judul" v-model="template.judul" style="width: 30em">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Teks:</label>
                            <div class="control">
                                <textarea class="input" name="teks" v-model="template.teks" cols="30" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot" style="justify-content: flex-end">
                    <button class="button" @click="toggleForm">Batal</button>
                    <button class="button is-primary" type="button" @click="saveTemplate(template.id)">Simpan</button>
                </footer>
            </div>
        </div>
    </div>

    <script src="/js/templates/index.js"></script>

<% include ../_layout/footer.html %>
