<% include ../_layout/header.html %>

    <div id="app">
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Daftar Grup
                    </h1>
                </div>
            </div>
        </section>
            
        <div class="columns is-multiline">
            <div class="column is-narrow" v-for="g of groupsmember">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ g.nama_group }}</strong> <small>{{ g.members.length }} anggota</small>
                                </p>    
                                <ul>
                                    <li v-for="m of g.members">
                                        {{ m.nama }} <small>{{ m.nomor }}</small>
                                    </li>
                                </ul>
                            </div>
                            <nav class="level is-mobile" v-if="g.id !== 1">
                                <div class="level-left"></div>
                                <div class="level-right">
                                    <button class="level-item button is-text" @click="editGroup(g.id)" title="Ubah">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="level-item button is-text has-text-danger" href="#" @click="deleteGroup(g.id)" title="Hapus">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button @click="toggleForm" class="button is-primary">
                            <span class="icon is-small"> <i class="fas fa-plus"></i> </span>
                            <span> Tambah Grup </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal" :class="{ 'is-active': open }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title is-3">{{ headerModal }} Grup</p>
                    <button class="delete" aria-label="close" @click="toggleForm"></button>
                </header>
                <section class="modal-card-body">
                    <form>
                        <div class="field">
                            <label class="label">Nama Grup:</label>
                            <div class="control">
                                <input class="input" type="text" name="nama_group" v-model="groupmember.nama_group" style="width: 30em">
                            </div>
                        </div>
                        <div class="field" v-if="headerModal === 'Ubah'" v-for="ms in groupmember.members">
                            <label class="checkbox">
                                <input type="checkbox"
                                    v-model="selected"
                                    :value="ms.id">
                                {{ ms.nama }}
                                <small>{{ ms.nomor }}</small>
                            </label>
                        </div>
                        <h4 class="title is-4">Tambah Anggota dari:</h4>
                        <h6 class="subtitle is-6">{{ groupno.nama_group }}</h6>
                        <div class="field" v-for="mx in groupno.members">
                            <label class="checkbox">
                                <input type="checkbox"
                                    v-model="selected" 
                                    :value="mx.id">
                                {{ mx.nama }}
                                <small>{{ mx.nomor }}</small>
                            </label>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot" style="justify-content: flex-end">
                    <button class="button" @click="toggleForm">Batal</button>
                    <button class="button is-primary" type="button" @click="saveGroup(groupmember.id)">Simpan</button>
                </footer>
            </div>
        </div>
    </div>
    
    <script src="/js/groups/index.js"></script>

<% include ../_layout/footer.html %>