            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                <p>
                    <strong>smeswae</strong> by <a href="https://github.com/rzwibowo">Wibowo Devs</a>.
                </p>
                </div>
            </div>
        </footer>

        <script>
            const navScript = new Vue({
                el: '#nav-main',
                data: {
                    isOpen: false
                }
            })
        </script>
    </body>
</html>