<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>smeswae</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
    </head>
    <body>
        <nav class="navbar is-transparent is-link" id="nav-main">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h4 class="title">smeswae</h4>
                </a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample"
                    @click="isOpen = !isOpen" :class="{'is-active': isOpen}">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navbarExampleTransparentExample" class="navbar-menu" :class="{'is-active': isOpen}">
                <div class="navbar-start">
                    <a class="navbar-item" href="/"> 
                        Home
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">
                            Kontak
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="/numbers">
                                Personal
                            </a>
                            <a class="navbar-item" href="/groups">
                                Grup
                            </a>
                        </div>
                    </div>
                    <a class="navbar-item" href="/templates">
                        Pola Pesan
                    </a>
                    <a class="navbar-item" href="/users">
                        Pengguna
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-light" data-social-network="Twitter" target="_blank" href="https://twitter.com/rzwibowo">
                                <span class="icon">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <span>Follow</span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-light" href="https://github.com/rzwibowo/smswae">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>View Source</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container is-fullheight">
        
        