<% include ../_layout/header.html %>

    <div id="app">
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Daftar Nomor
                    </h1>
                </div>
            </div>
        </section>
            
        <div class="columns is-centered">
            <div class="column is-narrow">
                <table class="table is-hoverable">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Nomor</th>
                            <th>Anggota dari Grup</th>
                            <th>Opsi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(number, index) of numbers" :key="index">
                            <td>{{ number.nama }}</td>
                            <td>{{ number.nomor }}</td>
                            <td>{{ number.nama_group }}</td>
                            <td>
                                <button class="button is-text" @click="editNumber(number.id)" title="Ubah">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="button is-text has-text-danger" href="#" @click="deleteNumber(number.id)" title="Hapus">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button @click="toggleForm" class="button is-primary">
                            <span class="icon is-small"> <i class="fas fa-plus"></i> </span>
                            <span> Tambah Nomor </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" :class="{ 'is-active': open }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ headerModal }} Nomor</p>
                    <button class="delete" aria-label="close" @click="toggleForm"></button>
                </header>
                <section class="modal-card-body">
                    <form>
                        <div class="field">
                            <label class="label">Nama:</label>
                            <div class="control">
                                <input class="input" type="text" name="nama" v-model="number.nama" style="width: 30em">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Nomor HP:</label>
                            <div class="control">
                                <input class="input" type="tel" name="nomor" v-model="number.nomor" style="width: 15em">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Grup:</label>
                            <div class="control">
                                <div class="select">
                                    <select name="grup" v-model="number.id_group">
                                        <option v-for="(group, index) of groups" :value="group.id">{{ group.nama }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot" style="justify-content: flex-end">
                    <button class="button" @click="toggleForm">Batal</button>
                    <button class="button is-primary" type="button" @click="saveNumber(number.id)">Simpan</button>
                </footer>
            </div>
        </div>
    </div>

    <script src="/js/numbers/index.js"></script>

<% include ../_layout/footer.html %>
